<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.padacore.ui.editor.AdaEditor"
            default="true"
            extensions="ads,adb,gpr"
            icon="icons/adafile_obj.gif"
            id="org.padacore.ui.editor.AdaEditor"
            name="Ada Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.padacore.ui.editor.AdaDocumentSetupParticipant"
            extensions="ads,adb,gpr">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.padacore.wizards.new.ada"
            name="Ada">
      </category>
      <wizard
            category="org.padacore.wizards.new.ada"
            class="org.padacore.ui.wizards.NewAdaProjectWizard"
            icon="icons/newadaprj_wiz.gif"
            id="org.padacore.wizards.NewGnatProjectWizard"
            name="Ada Project"
            project="true">
            <description>
            Create an Ada project
            </description>
      </wizard>
      <wizard
            category="org.padacore.wizards.new.ada"
            class="org.padacore.ui.wizards.NewAdaSpecificationWizard"
            icon="icons/ada_new_spec_wiz.gif"
            id="org.padacore.wizards.NewAdaSpecificationWizard"
            name="Ada Specification"
            project="false">
      </wizard>
      <wizard
            category="org.padacore.wizards.new.ada"
            class="org.padacore.ui.wizards.NewAdaImplementationWizard"
            icon="icons/ada_new_body_wiz.gif"
            id="org.padacore.wizards.NewAdaImplementationWizard"
            name="Ada Implementation"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.padacore.ui.preferences.AdaPreferences"
            id="org.padacore.preferences"
            name="Ada">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ada_ovr.gif"
            id="padacore.adaProjectNatureImg"
            natureId="org.padacore.core.adaProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.padacore.ui.launch.AdaLaunchConfigurationTabGroup"
            description="Ada Application"
            id="org.padacore.launch.AdaLaunchConfigurationTabGroup"
            type="org.padacore.core.launch.AdaLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.padacore.core.launch.AdaLaunchConfiguration"
            icon="icons/adafile_obj.gif"
            id="org.padacore.launch.AdaLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.padacore.ui.launch.AdaLaunchConfigurationShortcut"
            description="Run a local Ada application"
            id="org.padacore.launch.ui.AdaLaunchConfigurationShortcut"
            label="Ada Application"
            modes="run">
            <contextualLaunch>
  <enablement>
    <or>
    <with variable="selection">
     <count value="1"/>
     <iterate>
     <or>
     	<and>
     	<instanceof value="org.eclipse.core.resources.IProject"/>
     	<test property="org.padacore.isAdaProject"/>
     	</and>
     	<and>
     	<instanceof value="org.eclipse.core.resources.IFile"/>
     	<test property="org.padacore.belongsToAdaProject"/>
     	</and>
     </or>
     </iterate>
     </with>
     <with variable="activeEditor">
        <instanceof value="org.eclipse.ui.IEditorPart"/>
        <test property="org.padacore.isAdaExecutableEditor"/>
     </with>
     </or>     
  </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.padacore.ui.launch.AdaLaunchConfigurationShortcutTester"
            id="org.padacore.belongsToAdaProject"
            namespace="org.padacore"
            properties="belongsToAdaProject"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
      <propertyTester
            class="org.padacore.ui.launch.AdaLaunchConfigurationShortcutTester"
            id="org.padacore.isAdaProject"
            namespace="org.padacore"
            properties="isAdaProject"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
       <propertyTester
            class="org.padacore.ui.launch.AdaLaunchConfigurationShortcutTester"
            id="org.padacore.isAdaExecutableEditor"
            namespace="org.padacore"
            properties="isAdaExecutableEditor"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.padacore.wizards.import.ada"
            name="Ada">
      </category>
      <wizard
            category="org.padacore.wizards.import.ada"
            class="org.padacore.ui.wizards.AdaProjectFromGprWizard"
            icon="icons/gps.gif"
            id="org.padacore.ui.wizards.AdaProjectFromGprWizard"
            name="Existing GPR Project">
         <description>
            Create an Ada project from an existing GPR project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.padacore.ui.views.ada"
            name="Ada">
      </category>
      <view
            allowMultiple="false"
            category="org.padacore.ui.views.ada"
            class="org.padacore.ui.views.ExternalVariablesView"
            id="org.padacore.ui.views.scenario"
            name="Scenario"
            restorable="true">
      </view>
   </extension>

</plugin>
