<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.padacore.editor.AdaEditor"
            default="true"
            extensions="ads,adb"
            id="org.padacore.editor.AdaEditor"
            name="Ada Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.padacore.editor.AdaDocumentSetupParticipant"
            extensions="ads,adb">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.padacore.wizards.ada"
            name="Ada">
      </category>
      <wizard
            category="org.padacore.wizards.ada"
            class="org.padacore.wizards.NewAdaProjectWizard"
            id="org.padacore.wizards.NewGnatProjectWizard"
            name="Ada Project"
            project="true">
      </wizard>
      <wizard
            category="org.padacore.wizards.ada"
            class="org.padacore.wizards.NewAdaSpecWizard"
            id="org.padacore.wizards.NewAdaSpecWizard"
            name="Ada Specification"
            project="false">
      </wizard>
   </extension>

</plugin>
