<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.padacore.editor.AdaEditor"
            default="true"
            extensions="ads,adb"
            id="org.padacore.editor.AdaEditor"
            name="Ada Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.padacore.editor.AdaDocumentSetupParticipant"
            extensions="ads,adb">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.padacore.wizards.ada"
            name="Ada">
      </category>
      <wizard
            category="org.padacore.wizards.ada"
            class="org.padacore.wizards.NewAdaProjectWizard"
            id="org.padacore.wizards.NewGnatProjectWizard"
            name="Ada Project"
            project="true">
      </wizard>
      <wizard
            category="org.padacore.wizards.ada"
            class="org.padacore.wizards.NewAdaSpecificationWizard"
            id="org.padacore.wizards.NewAdaSpecificationWizard"
            name="Ada Specification"
            project="false">
      </wizard>
      <wizard
            category="org.padacore.wizards.ada"
            class="org.padacore.wizards.NewAdaImplementationWizard"
            id="org.padacore.wizards.NewAdaImplementationWizard"
            name="Ada Implementation"
            project="false">
      </wizard>
   </extension>
   <extension
         id="org.padacore.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.padacore.AdaProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.padacore.preferences.AdaPreferences"
            id="org.padacore.preferences.AdaPreferences"
            name="Ada">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ada_ovr.gif"
            id="padacore.adaProjectNatureImg"
            natureId="org.padacore.projectNature">
      </image>
   </extension>

</plugin>
