<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.padacore.editor.AdaEditor"
            default="true"
            extensions="ads,adb,gpr"
            icon="icons/adafile_obj.gif"
            id="org.padacore.editor.AdaEditor"
            name="Ada Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.padacore.editor.AdaDocumentSetupParticipant"
            extensions="ads,adb,gpr">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.padacore.wizards.ada"
            name="Ada">
      </category>
      <wizard
            category="org.padacore.wizards.ada"
            class="org.padacore.wizards.NewAdaProjectWizard"
            icon="icons/newadaprj_wiz.gif"
            id="org.padacore.wizards.NewGnatProjectWizard"
            name="Ada Project"
            project="true">
      </wizard>
      <wizard
            category="org.padacore.wizards.ada"
            class="org.padacore.wizards.NewAdaSpecificationWizard"
            icon="icons/ada_new_spec_wiz.gif"
            id="org.padacore.wizards.NewAdaSpecificationWizard"
            name="Ada Specification"
            project="false">
      </wizard>
      <wizard
            category="org.padacore.wizards.ada"
            class="org.padacore.wizards.NewAdaImplementationWizard"
            icon="icons/ada_new_body_wiz.gif"
            id="org.padacore.wizards.NewAdaImplementationWizard"
            name="Ada Implementation"
            project="false">
      </wizard>
   </extension>
   <extension
         id="adaProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.padacore.AdaProjectNature">
         </run>
      </runtime>
      <builder
            id="org.padacore.builder.AdaProjectBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.padacore.preferences.AdaPreferences"
            id="org.padacore.preferences"
            name="Ada">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ada_ovr.gif"
            id="padacore.adaProjectNatureImg"
            natureId="org.padacore.adaProjectNature">
      </image>
   </extension>
   <extension
         id="org.padacore.builder.AdaProjectBuilder"
         name="Ada project builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="false">
         <run
               class="org.padacore.builder.AdaProjectBuilder">
         </run>
      </builder>
   </extension>

</plugin>
